<html>
    <head>
        <title>TODO List</title>
    </head>
    <body>
        <h1><center>TODO List</center></h1>
        <form action="">
            <input type="text" name="item"/>
        </form>
        <ul>
            <% for (let item of items ) { %>
                <li><%= item.title %></li>
            <% } %>
        </ul>
    </body>
</html>